body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.foo {
  background-image: url('../images/board2.jpg');
  background-size: cover;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 50%;
}
